target/
!.mvn/wrapper/maven-wrapper.jar
/mvnw
/mvnw.cmd
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.iws
.vscode/

# Local credentials config
src/main/resources/application-local.properties
